@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

$colorTema: #0e303f;

*{
    margin:0;padding:0;
}
:root{
    height:100%;
}

body{
    height:100%;
    background:#f5f5f5;
    font-family:Open Sans, sans-serif;
}

header{
    background:#fff;
    box-shadow: 0 5px 25px 0 rgba(199,199,199,.3);
    padding:15px 30px;
    margin-bottom:40px;
    img{
        width:200px;
        display:block;
    }
}

.container{
    width:50em;
    margin:0 auto;
}

h2, p{
    margin-bottom:20px;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    font-size:3em;
    color:#fff;
}

h2{
    font-weight: 300;
}

ul{
    margin:20px;
    li{
        padding-bottom:10px;
    }
    small{
        display:block;
    }
}